# ===== Streamlit UI =====
streamlit>=1.20.0
streamlit-aggrid>=0.3.4

# ===== Data handling =====
pandas>=2.0.0
numpy>=1.25.0
openpyxl>=3.1.0

# ===== Visualization =====
matplotlib>=3.7.0
plotly>=5.24.1
seaborn>=0.13.0

# ===== Machine Learning =====
scikit-learn>=1.2.0

# ===== Database Support =====
sqlalchemy>=2.0.0
pymysql>=1.1.0           # MySQL connector
psycopg2-binary>=2.9.9    # PostgreSQL connector
pyodbc>=5.1.0             # SQL Server connector
sqlite3-binary>=3.45.1    # SQLite (ya viene en Python, pero se fuerza compatibilidad)

# ===== Big Data / Spark =====
pyspark>=3.5.0

# ===== Utility =====
requests>=2.32.3
